:root {
  --sand: #e4e2dd;
  --relume-library-lite--rl-black: black;
  --poppins: Poppins, sans-serif;
  --playfair-display: "Playfair Display", sans-serif;
  --black: black;
  --orange: #e15c31;
  --green: #748067;
  --relume-library-lite--rl-white: white;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.navbar-menu {
  align-items: center;
  display: flex;
  position: static;
}

.navbar-menu.is-page-height-tablet {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.rl_navbar1_logo {
  max-width: 9rem;
}

.navbar-menu-button {
  padding: 0;
}

.navbar-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar-component {
  border-bottom: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--sand);
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: sticky;
  top: 0;
}

.navbar-logo {
  padding-left: 0;
}

.body {
  background-color: var(--sand);
}

.container-small {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.spacing-block-3rem {
  width: 100%;
  padding-bottom: 3rem;
}

.header-component {
  text-align: center;
}

.text-style-medium {
  font-family: var(--poppins);
  color: var(--relume-library-lite--rl-black);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.5;
}

.text-style-medium.align-left {
  text-align: left;
}

.section-100vh {
  background-color: var(--sand);
  height: 100vh;
}

.heading-h1 {
  font-family: var(--playfair-display);
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.padding-global {
  flex-flow: column;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  overflow: hidden;
}

.text-style-small {
  font-family: var(--poppins);
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: .8rem;
  font-weight: 200;
  line-height: 1.5;
  text-decoration: none;
}

.button-primary {
  border: 1px solid var(--black);
  color: var(--black);
  background-color: #f0f0f000;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: .75rem 2rem;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-primary:hover {
  color: #f0ede2;
}

.button-text {
  z-index: 1;
  font-family: var(--poppins);
  color: var(--black);
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  position: relative;
}

.button-text.color-is-red {
  color: var(--orange);
  font-size: .8rem;
}

.button-hover-box {
  background-color: var(--orange);
  height: 0%;
  position: absolute;
  inset: auto 0% 0%;
}

.button-secondary {
  border: 1px solid var(--black);
  color: var(--black);
  background-color: #f0f0f000;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: .75rem 2rem;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-secondary:hover {
  color: #f0ede2;
}

.padding-section-large {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: static;
  top: 10rem;
  overflow: visible;
}

.heading-style-h2 {
  font-family: var(--playfair-display);
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.spacing-block-1rem {
  padding-bottom: 1rem;
}

.horizontal-trigger {
  position: absolute;
}

.portfolio-div-wrapper {
  background-color: var(--sand);
  border: .5px solid #000;
  border-radius: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 20rem;
  position: sticky;
  top: 8rem;
}

.spacing-block-1-5rem {
  padding-bottom: 1.5rem;
  display: block;
}

.image-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.image {
  max-width: 100%;
  padding: 1.5rem;
}

.portfoli-header-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.heading-style-h3 {
  font-family: var(--playfair-display);
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

.subheading {
  font-family: var(--poppins);
  color: var(--black);
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: .8rem;
  font-weight: 100;
  line-height: 1.5;
  text-decoration: none;
}

.button-preview {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border: 1px solid var(--orange);
  color: var(--orange);
  background-color: #f0f0f000;
  border-radius: 100vw;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  text-decoration: none;
  display: flex;
}

.button-arrow {
  font-family: var(--poppins);
  color: var(--orange);
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  transform: rotate(-45deg);
}

.horizontal-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 2rem;
  display: flex;
}

.bold-text, .bold-text-2 {
  color: var(--orange);
}

.url-link {
  color: var(--orange);
  text-decoration: none;
  -webkit-text-decoration-color: var(--orange);
  text-decoration-color: var(--orange);
}

._2-columns {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.page-load_overlay {
  z-index: 2000;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  inset: 0%;
}

.load-overlay_slide {
  width: 50%;
  height: 100%;
}

.load-overlay_slide.is-left {
  background-color: var(--sand);
  perspective-origin: 50%;
  transform-origin: 0%;
  flex-flow: column;
  order: 0;
  justify-content: space-between;
  align-items: flex-start;
  display: block;
  position: static;
  inset: 0% auto 0% 0%;
}

.load-overlay_slide.is-right {
  background-color: var(--sand);
  perspective-origin: 50%;
  transform-origin: 100%;
  position: static;
  inset: 0% 0% 0% auto;
}

.logo-image {
  align-self: center;
  width: 10rem;
  max-width: none;
  position: absolute;
}

.lottie-anim {
  justify-content: center;
  align-items: center;
  width: 8rem;
  display: flex;
}

.wrapper-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.portfolio-wraper {
  background-color: #fff0;
  flex-flow: column;
  flex: 1;
  align-self: auto;
  height: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
}

.portfolio-wraper.padding-left {
  margin-left: 4rem;
}

.train-progression {
  background-color: var(--orange);
  border-radius: 20px;
  height: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.sticky-container-train {
  position: sticky;
  top: 15rem;
  overflow: hidden;
}

.div-cargo {
  flex-flow: row;
  width: 400vh;
  height: 32rem;
  display: flex;
}

.container-train-track {
  max-width: none;
  height: 400vh;
}

.section-home-portfolio {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  max-width: none;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.padding-section-medium-4rem {
  z-index: 2;
  background-color: #fff0;
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  padding-top: 0;
  padding-bottom: 4rem;
  display: flex;
  position: static;
}

.image-2 {
  border-radius: 20px;
}

.button-group-center {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.heading-intro {
  color: #fca311;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
  font-size: .8rem;
  font-weight: 700;
  line-height: 20px;
}

.section-home-portfolio_mobile {
  background-color: var(--sand);
  max-width: none;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: none;
  position: static;
}

.wrapper-stack-card {
  flex-flow: column;
  height: auto;
  display: flex;
}

.sticky-card-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.lottie-anim-smll {
  justify-content: center;
  align-items: center;
  width: 4rem;
  display: flex;
}

.spacing-block-10rem {
  width: 100%;
  padding-bottom: 3rem;
}

@media screen and (min-width: 1440px) {
  .section-home-portfolio {
    margin-left: 0%;
  }

  .section-home-portfolio_mobile {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .div-cargo {
    height: 38rem;
  }
}

@media screen and (max-width: 991px) {
  .rl_menu-icon_line-middle {
    background-color: #000;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar-menu {
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    border-bottom: 1px solid #000;
    padding: 1rem 5% 2rem;
    position: absolute;
    overflow: auto;
  }

  .navbar-menu.is-page-height-tablet {
    background-color: var(--sand);
    flex-flow: row;
    height: auto;
    padding-bottom: 1rem;
  }

  .rl_menu-icon_line-top {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar-menu-button.w--open {
    background-color: #0000;
  }

  .rl_menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon_line-bottom {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .heading-h1 {
    font-size: 3.25rem;
  }

  .button-primary, .button-secondary {
    width: 11rem;
    max-width: none;
  }

  .padding-section-large {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .heading-style-h2, .heading-style-h3 {
    font-size: 2.75rem;
  }

  ._2-columns {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .padding-section-medium-4rem {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .button-group-center {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .wrapper-stack-card {
    z-index: 1;
    max-height: none;
    display: block;
    position: relative;
  }

  .sticky-card-wrapper {
    grid-row-gap: 56px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .navbar-component {
    height: auto;
    min-height: 4rem;
  }

  .navbar-logo {
    padding-left: 0;
  }

  .spacing-block-3rem {
    padding-bottom: 1.25rem;
  }

  .text-style-medium {
    font-size: 1rem;
  }

  .heading-h1 {
    font-size: 2.5rem;
  }

  .text-style-small {
    font-size: 1rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .heading-style-h2, .heading-style-h3 {
    font-size: 2.25rem;
  }

  .subheading {
    font-size: 1rem;
  }

  ._2-columns {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .div-cargo {
    width: 340vh;
    height: 30rem;
  }

  .padding-section-medium-4rem {
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
  }

  .heading-intro {
    font-size: .7rem;
    line-height: 1.2;
  }

  .spacing-block-10rem {
    padding-bottom: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .rl_navbar1_logo {
    max-width: 6rem;
  }

  .section-100vh {
    height: auto;
  }

  .padding-global {
    overflow: visible;
  }

  .button-primary {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .button-text {
    font-size: .876rem;
  }

  .button-secondary {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-section-large {
    padding-bottom: 4rem;
  }

  .portfolio-div-wrapper {
    z-index: 0;
    margin-bottom: 0;
    position: static;
    top: 12rem;
  }

  .portfolio-div-wrapper._1 {
    position: sticky;
    top: 7rem;
    bottom: auto;
  }

  .portfolio-div-wrapper._2 {
    position: sticky;
    top: 11rem;
    bottom: auto;
  }

  .portfolio-div-wrapper._3 {
    position: sticky;
    top: 15rem;
    bottom: auto;
  }

  .portfolio-div-wrapper._4 {
    position: sticky;
    top: 19rem;
    bottom: auto;
  }

  .portfolio-div-wrapper._5 {
    position: sticky;
    top: 23rem;
    bottom: auto;
  }

  .portfolio-div-wrapper._6 {
    position: sticky;
    top: 27rem;
    bottom: auto;
  }

  .image {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .portfoli-header-wrapper {
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .heading-style-h3 {
    font-size: 1.7rem;
  }

  .subheading {
    font-size: .8rem;
  }

  .horizontal-wrapper {
    padding-right: .5rem;
  }

  ._2-columns {
    grid-template-columns: 1fr;
  }

  .section-home-aboutme {
    z-index: 2;
    position: relative;
  }

  .portfolio-wraper {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .div-cargo {
    width: 300vh;
    height: 420px;
  }

  .container-train-track {
    max-width: none;
    margin-left: auto;
    margin-right: 0;
  }

  .section-home-portfolio {
    margin-left: 0%;
    display: none;
  }

  .padding-section-medium-4rem {
    flex: 0 auto;
    max-width: none;
    padding: 1.5rem 0;
    display: flex;
    overflow: hidden;
  }

  .heading-intro {
    font-size: .6rem;
  }

  .section-home-portfolio_mobile {
    z-index: 1;
    flex-flow: column;
    display: flex;
    position: relative;
  }

  .wrapper-stack-card {
    z-index: 0;
    grid-column-gap: 10rem;
    grid-row-gap: 10rem;
    flex-flow: column;
    display: flex;
    position: static;
  }

  .sticky-card-wrapper {
    z-index: 0;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    position: static;
    top: auto;
  }

  .spacing-block-10rem {
    padding-bottom: 10rem;
  }
}

#w-node-_0b3e9448-1957-56b7-703d-e106a2425681-baf6ae83 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_584acea3-c53c-1888-af4b-83d786973315-baf6ae83 {
    order: -9999;
  }
}


